= session_status(current_user)
= link_to("Title 1", "#", :class => "header_tab")
= link_to("Title 2", "#", :class => "header_tab")
= link_to("Title 3", "#", :class => "header_tab")
= link_to("Title 4", "#", :class => "header_tab")
